<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-----All the libraries for framework and packages-->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-----stylesheet-->
    <link rel="stylesheet" href="static/css/playground.css" />
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">AAT</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">settings</a>
            </li>
          </ul>
          
        </div>
      </nav>
    
  </header>
  <body>
    <div class="container-fluid">
      <h1>STUDENT FEEDBACK</h1>
          <img
          src="https://preview.redd.it/pov-you-just-saved-a-baby-from-a-burning-house-v0-t7ehmv000zuc1.jpeg?width=640&crop=smart&auto=webp&s=dffb692560829014f221aa1bc5d2d564d13dbccc"
          class="rounded-circle "
          alt="Nice_Minthara"
        />
    </div>
    <div class="divider">
      <h2 >Gonna kms later</h2>
      
    </div>

    <div class="container mt-2 pt-0 ml-1 mr-1"  id="SVG_Container1">
        <div class="row">
          <div class="col">
            <h2>Column 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo auctor quam eget lacinia. Nunc non mi eu diam rutrum pharetra eu eu nisl. Curabitur ullamcorper lobortis eros. Cras a accumsan elit. Mauris blandit velit ut elit pharetra auctor. In auctor tristique diam, quis ultrices nisl tempor in. Nullam quis risus ut turpis sodales condimentum. Curabitur eu lectus laoreet, iaculis dolor ac, pharetra ante. Nullam varius risus ante, vitae interdum velit malesuada ut. Praesent ac magna porta tortor consequat tempor. Nunc vel molestie ligula, id molestie sapien. </p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
        <div class="row">
            
             
                <div class="col"  >
                  <h2>Column 1</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo auctor quam eget lacinia. Nunc non mi eu diam rutrum pharetra eu eu nisl. Curabitur ullamcorper lobortis eros. Cras a accumsan elit. Mauris blandit velit ut elit pharetra auctor. In auctor tristique diam, quis ultrices nisl tempor in. Nullam quis risus ut turpis sodales condimentum. Curabitur eu lectus laoreet, iaculis dolor ac, pharetra ante. Nullam varius risus ante, vitae interdum velit malesuada ut. Praesent ac magna porta tortor consequat tempor. Nunc vel molestie ligula, id molestie sapien. </p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                   <div class="container-fluid", id="svg_container">
                    <svg   preserveAspectRatio="xMinYMid meet"   id="Chart1"  ></svg>
                     <script src="static/JS/D3Chart-1.js"></script>
            
                    </div>
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
             </div>
             
                
          
        
           
          </div>
            
          
          </div>
            
         
    
    </div>

  </body>
</html>
